# Игнорируем файлы конфигурации
config.json

# Игнорируем временные файлы и кэш
*.pyc
__pycache__/

# Игнорируем файлы логов и отчетов
*.log
*.report

# Игнорируем файлы сессий Selenium WebDriver
selenium*.session

# Игнорируем файлы, созданные IDE
.idea/
.vscode/